.container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    display: flex;
    justify-content: center;
}

.mainContainer {
    width: 100%;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    margin-top: 2rem;
    align-items: center;
}

.buttonCustomWidth {
    width: 350px;
}